.info[b-9xo3kub5r5]{
    margin-top: 7rem;
}

.info h1[b-9xo3kub5r5] {
    color: rgb(255, 255, 255);
}

.info p[b-9xo3kub5r5]{
    color: rgb(255, 255, 255);
}

.table th[b-9xo3kub5r5]{
    color: white;
}

.table td[b-9xo3kub5r5]{
    color: white;
}