.resultadoProva[b-dlm5pfhheh]{
    margin-top: 2rem;
}

.resultadoProva h1[b-dlm5pfhheh]{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.tabela[b-dlm5pfhheh]{
    margin-top: 1rem;
    margin-left: 10%;
    width: 80vw;
    height: 70vh;
    overflow-y:scroll;
    overflow-x: hidden;
    border: 4px solid rgb(255, 255, 255);
}


.table[b-dlm5pfhheh]{
    border-collapse: collapse;
    border: 1px solid #ffffff;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80vw;
    height: 70vh;
    background-color: rgb(24, 24, 24);
    text-align: center;
}

.table th[b-dlm5pfhheh]{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}

.table td[b-dlm5pfhheh]{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.8rem;
}

.table thead tr[b-dlm5pfhheh] {
    background-color: #c0c0c0;
}

.table th[b-dlm5pfhheh]{
    padding: 10px 10px;
}
.table td[b-dlm5pfhheh] {
    padding: 12px 12px;
}












